@keyframes noise-anim {
  0% {
    clip: rect(96px, 9999px, 61px, 0); }
  5% {
    clip: rect(89px, 9999px, 95px, 0); }
  10% {
    clip: rect(42px, 9999px, 29px, 0); }
  15.0% {
    clip: rect(74px, 9999px, 36px, 0); }
  20% {
    clip: rect(6px, 9999px, 47px, 0); }
  25% {
    clip: rect(54px, 9999px, 15px, 0); }
  30.0% {
    clip: rect(46px, 9999px, 2px, 0); }
  35% {
    clip: rect(3px, 9999px, 27px, 0); }
  40% {
    clip: rect(62px, 9999px, 68px, 0); }
  45% {
    clip: rect(30px, 9999px, 75px, 0); }
  50% {
    clip: rect(26px, 9999px, 83px, 0); }
  55.0% {
    clip: rect(24px, 9999px, 89px, 0); }
  60.0% {
    clip: rect(74px, 9999px, 4px, 0); }
  65% {
    clip: rect(76px, 9999px, 10px, 0); }
  70% {
    clip: rect(37px, 9999px, 9px, 0); }
  75% {
    clip: rect(100px, 9999px, 25px, 0); }
  80% {
    clip: rect(15px, 9999px, 73px, 0); }
  85.0% {
    clip: rect(9px, 9999px, 74px, 0); }
  90% {
    clip: rect(26px, 9999px, 13px, 0); }
  95% {
    clip: rect(35px, 9999px, 1px, 0); }
  100% {
    clip: rect(92px, 9999px, 27px, 0); } }
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  -webkit-animation: noise-anim 2s infinite linear alternate-reverse; }

@keyframes noise-anim-2 {
  0% {
    clip: rect(86px, 9999px, 18px, 0); }
  5% {
    clip: rect(20px, 9999px, 16px, 0); }
  10% {
    clip: rect(69px, 9999px, 53px, 0); }
  15.0% {
    clip: rect(48px, 9999px, 75px, 0); }
  20% {
    clip: rect(90px, 9999px, 34px, 0); }
  25% {
    clip: rect(87px, 9999px, 62px, 0); }
  30.0% {
    clip: rect(55px, 9999px, 27px, 0); }
  35% {
    clip: rect(81px, 9999px, 60px, 0); }
  40% {
    clip: rect(12px, 9999px, 26px, 0); }
  45% {
    clip: rect(37px, 9999px, 59px, 0); }
  50% {
    clip: rect(100px, 9999px, 76px, 0); }
  55.0% {
    clip: rect(58px, 9999px, 96px, 0); }
  60.0% {
    clip: rect(12px, 9999px, 86px, 0); }
  65% {
    clip: rect(46px, 9999px, 36px, 0); }
  70% {
    clip: rect(68px, 9999px, 84px, 0); }
  75% {
    clip: rect(37px, 9999px, 81px, 0); }
  80% {
    clip: rect(33px, 9999px, 61px, 0); }
  85.0% {
    clip: rect(21px, 9999px, 13px, 0); }
  90% {
    clip: rect(24px, 9999px, 48px, 0); }
  95% {
    clip: rect(90px, 9999px, 79px, 0); }
  100% {
    clip: rect(24px, 9999px, 68px, 0); } }
.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  -webkit-animation: noise-anim-2 3s infinite linear alternate-reverse; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: 'Open Sans';
  font-weight: 400; }

body {
  box-sizing: border-box; }

section {
  height: 100vh;
  width: 100vw; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 11rem;
  position: relative;
  top: 35%;
  color: #fff; }

.red_blue {
  text-shadow: -2px 2px 0px rgba(255, 0, 0, 0.5), 4px -1px 0px rgba(0, 255, 255, 0.5); }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3rem; }

p {
  font-size: 1.2rem; }

a {
  font-size: 1.4rem;
  text-decoration: none; }

.button {
  padding: 5px 10px;
  color: #222;
  text-transform: uppercase;
  border: 1px solid #111;
  transition: all 0.3s ease-in-out; }
  .button:hover {
    color: #ddd;
    background-color: #111; }

.arrow {
  background: none;
  outline: none;
  border: none; }
  .arrow::before, .arrow::after {
    position: relative;
    display: block;
    content: "";
    margin: 0 auto;
    height: 1px;
    width: 20px;
    background-color: #fff; }
  .arrow::before {
    margin-top: 60px;
    transform: rotate(45deg);
    left: -7px; }
  .arrow::after {
    transform: rotate(-45deg);
    top: -1px;
    left: 7px; }

nav {
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 100vw;
  transform: translate(0, 0);
  text-align: center;
  transition: transform 0.6s; }
  nav.closed {
    transform: translate(0, calc(100% - 80px)); }
    nav.closed .arrow {
      opacity: 1;
      transform: translate(0, 0); }
  nav span {
    display: block;
    height: 80px; }
  nav .arrow {
    transition: opacity 0.6s, transform 0.6s;
    opacity: 0;
    transform: translate(0, -40px); }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  nav li {
    background-color: #fff;
    width: 100%;
    height: 50px;
    line-height: 50px;
    transition: all .2s;
    cursor: pointer; }
    nav li.hidden {
      display: none; }
    nav li:hover {
      background-color: #FFD34E; }
  nav a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase; }

section.logo {
  background-color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5.7em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: center;
  justify-content: center; }

section.philosophy {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap; }
  section.philosophy .row {
    text-align: center; }
    section.philosophy .row .process {
      text-align: center;
      width: 22%;
      height: auto; }
      section.philosophy .row .process p {
        width: 80%; }
  section.philosophy > div:first-child {
    background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #232526 10%, #414345 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #232526 10%, #414345 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #232526 10%, #414345 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #232526 10%, #414345 90%);
    /* W3C */
    color: #eee;
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center; }
    section.philosophy > div:first-child a {
      text-align: center;
      display: block;
      width: auto; }
  section.philosophy > div:last-child {
    background-color: #eee;
    color: #111;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -webkit-flex: 3 0 0;
    flex: 3 0 0;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center; }
    section.philosophy > div:last-child .process {
      margin: 8rem 1rem;
      -webkit-flex: initial;
      flex: initial;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center; }
      section.philosophy > div:last-child .process > * {
        -webkit-flex: initial;
        flex: initial; }

section.portfolio div.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-content: center; }
section.portfolio .grid {
  margin: 0;
  padding-bottom: 2rem;
  list-style: none;
  position: relative;
  width: 100%; }
  section.portfolio .grid li {
    margin: 2vh 1vw;
    position: relative;
    float: left;
    overflow: hidden;
    width: 45%; }
    section.portfolio .grid li img {
      display: block;
      width: 100%;
      cursor: pointer;
      max-width: 100%; }

section.us {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: space-around;
  justify-content: space-around; }
  section.us article.crew {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center; }
    section.us article.crew div {
      margin-right: 3rem;
      margin-bottom: 5rem;
      display: inline-block;
      text-align: left; }
      section.us article.crew div div {
        max-width: 400px; }
      section.us article.crew div h3, section.us article.crew div a {
        text-align: center; }
      section.us article.crew div img {
        vertical-align: top;
        margin: 1rem; }
    section.us article.crew img {
      width: 175px;
      height: 175px;
      border-radius: 50%; }

/*# sourceMappingURL=styles.css.map */
